<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/visualize.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body >
  <div class="sidebar">
    
     
  </div>

    <section class="home-section" style="background-color: #0A2558;">

      <nav style="background-color: #0A2558;">
        
      </nav>

    <div class="home-content" >
        
        <div class="sales-boxes" >
          <div class="recent-sales box" style="margin-left: 180px;">
           



            <div class="container" style="background-color: white; margin-left: 0px; text-align: center;" >
              <span style="color: #0A2558; text-align: center;   font-size: 35px;"> Smart Surveillance System</span> 
              <br>
              <span style="color: #0A2558; text-align: center; font-size: 15px;">Find out what is happening behind the cameras, effortlessly! </span>

              <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                      <form method="POST" action="{{ url_for('login') }}">
                          <div class="form-group">
                            <br>
                              <label for="exampleInputEmail" style="color: #0A2558; text-align: center;">Username</label>
                              <input type="text" class="form-control" name="username" placeholder="Username">
                          </div>
                          <div class="form-group">
                            <br>
                              <label for="exampleInputPassword" style="color: #0A2558;">Password</label>
                              <input type="password" class="form-control" name="pass" placeholder="Password">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-primary btn-block" style="color: #0A2558;  width: 80px; height: 30px; border-radius: 10%; border-color: transparent; font-weight: bold;">Log In</button>
                      </form>
                      <br>
                      
                  </div>
              </div>
          </div>




        </div>

        
        </div>
  </div>

<br>

</div>

</section>

    
</body>



</html>
