<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>Visualize Results</h1>
    <h2>Choose an action</h2>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <div id='chart2' class='chart'”></div>
    <div id='chart3' class='chart'”></div>


</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>

<script type='text/javascript'>
  var graphs = {{graph2JSON | safe}};
  Plotly.plot('chart2',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{graph3JSON | safe}};
    Plotly.plot('chart3',graphs,{});
  </script>
</html>
