<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/visualize.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body >
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name"></span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/visualize/" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/logs/">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Logs</span>
          </a>
        </li>

        <li class="log_out">
          <a href="/">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
        
      </ul>
  </div>

    <section class="home-section">

      <nav>
        <div class="sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard">Dashboard</span>
        </div>
      </nav>

    <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> {{top_action}} </div>
              <div class="text">is the top action</div>
            </div>
            
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> {{top_location}} </div>
              <div class="text"> has most actions </div>
              </div>
            </div>
  
          
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> Camera {{top_camera}} </div>
              <div class="text">captures most actions</div>              
              </div>
            </div>
            
          
          <div class="box">
            <div class="right-side">
              <div class="box-topic"> Camera {{min_camera}} </div>
              <div class="text">captures least actions</div>                
              </div>
            </div>
            
        </div>
  
        <div class="sales-boxes">
            <div class="recent-sales box">
              <div class="title">Locations VS Actions Count </div>
              <div id='chart2' class='chart'”></div>

           </div>

           <div class="top-sales box">
            <div class="title">Top Actions</div>
            <div id='chart3' class='chart'”></div>

          </div>
        </div>
<br>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">History of Actions </div>
            Choose an action:
            <input type="text" value="eating" id="fname" name="fname" onchange="cb(this.value)">
            <div id="chart" class="chart"></div> 

        </div>

        <div class="top-sales box">
          <div class="title">Actions VS Locations</div>
          <div id='chart4' class='chart'”></div>

        </div>
        </div>
  </div>

<br>

</div>

</section>

   <!-- <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
     sidebarBtn.onclick = function() {
     sidebar.classList.toggle("active");
     if(sidebar.classList.contains("active")){
     sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
     sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
    </script> -->

</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script> 

<script type='text/javascript'>
  var graphs = {{graph2JSON | safe}};
  Plotly.plot('chart2',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{graph3JSON | safe}};
    Plotly.plot('chart3',graphs,{});
  </script>

<script type='text/javascript'>
  var graphs = {{graph4JSON | safe}};
  Plotly.plot('chart4',graphs,{});
</script>

</html>
